$primary-color: #ED7839;
$secondary-color: #FFB354;
$white-color: #FFF;
$light-brown-color: #ADA0A0;
$dark-gray-color: #4E4E4E;

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
}