$primary-color: #ED7839;
$secondary-color: #FFB354;
$white-color: #FFF;
$light-brown-color: #ADA0A0;
$dark-gray-color: #4E4E4E;

.linear-gradient {
  background: linear-gradient($secondary-color, $primary-color);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@import "sidebar";
@import "header";
@import "content";
@import "summary";
@import "discussions";
@import "footer";
@import "responsive";

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

button {
  cursor: pointer;
  outline: 0;
}

.container {
  max-width: calc(100% - 22rem);
  margin: 0 0 0 22rem;
}

main {
  padding: 1rem 4rem;
}

.card {
  margin-top: 2rem;

  border: 1px solid #ECECEC;
  border-radius: 3px;
  color: #5C5C5C;

  .card-content {
    padding: 1.5rem;
  }
}

.title {
  padding: 1rem 1.5rem;

  background-color: #FDF1EB;
  border: 1px solid #ECECEC;
  border-radius: 3px 3px 0 0;
  color: #4E4E4E;
}

.button {
  @extend .linear-gradient;
  @extend .flex;
  gap: 0.5rem;

  border: 0;
  border-radius: 4px;
  padding: 1rem 2rem;

  color: $white-color;
  font-size: 1.5rem;
  font-weight: 700;
}

.actived {
  visibility: visible;
  display: initial;
}

.disabled {
  visibility: hidden;
  display: none;
}